[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

django = "*"
gunicorn = "*"
dj-database-url = "*"
"psycopg2" = "*"
newrelic = "*"
django-cors-headers = "*"
raven = "*"


[requires]

python_version = "3.6.1"


[dev-packages]

bpython = "*"


[pipenv]

allow_prereleases = true
